/* Write your CSS here */
.match-card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 45%;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  color: #ffffff;
}
match-name {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.match-result {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.match-card-logo {
  width: 70px;
  height: 70px;
}
